extends template

block content
  div(class-"row" style="width:100%")
    div(class="large-2 columns")
      p Account 
    div(class="large-2 columns" style="width:100%;padding:0px;")
      table(style="width:100%;")
        thead
          tr
            th  Firstname
            th  Lastname
            th  Email
            th  City
            th  Age
            th  Country
        tbody
          tr
            td John
            td Doe
            td john@example.com
            td New York
            td 35
            td USA
          tr
            td John
            td Doe
            td john@example.com
            td New York
            td 35
            td USA

          tr
            td John
            td Doe
            td john@example.com
            td New York
            td 35
            td USA
