extends template

block header 
  h3 头部导航 今天是北京时间2024-7-3 9：00 am

block content
  h5= title
  p Welcome to #[em LocalLibrary], a very basic  website developed as a tutorial example on the Mozilla Developer Network.

  h1 Dynamic content

  p The library has the following record counts:

