doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    link(rel='stylesheet', href='/stylesheets/style.css')
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  body
    block sidebar

      ul(class='active')
        li(style="margin-top:4rem;")
          a(href='/catalog')  
            i.fa.fa-home(style='font-size:20px;')  Home   
        br
        li
          a(href='/catalog/books') 
           i.fa.fa-account 
           Accounts
        li
          a(href='/catalog/authors') Leads
        li
          a(href='/catalog/genres') Opportunity 
        li
          a(href='/catalog/bookinstances') Contract 

        br 
        hr
        br

        li
          a(href='/catalog/author/create') Account Visits 
        li
          a(href='/catalog/genre/create') Visit Plans  
        li
          a(href='/catalog/book/create') Account Training 

        br 
        hr
        br

        li
          a(href='/catalog/author/create') Account Visits
        li
          a(href='/catalog/genre/create') Visit Plans
        li
          a(href='/catalog/book/create') Account Training


        br 
        hr
        br

        li
          a(href='/catalog/author/create') Account Visits
        li
          a(href='/catalog/genre/create') Visit Plans
        li
          a(href='/catalog/book/create') Account Training

  div(class="layout-content")
          block content

