doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    link(rel='stylesheet', href='/stylesheets/style.css')
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  body
    block sidebar

      ul(class='active')
        li(style="margin-top:2rem;")
          a(href='/catalog')  
            i.fa.fa-home(style='font-size:20px;')  Home   
        br
        li
          a(href='/catalog/books') 
           i.fa.fa-building	Accounts
        li
          a(href='/catalog/authors') 
            i.fa.fa-address-card	Leads
        li
          a(href='/catalog/genres') 
            i.fa.fa-handshake-o	Opportunity 
        li
          a(href='/catalog/bookinstances') 
            i.fa.fa-edit	Contract 

        br 
        hr
        br

  div(class="layout-content")
          block content

