html
  head
  title= title
  meta(charset='utf-8')
  //- meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
  link(rel="icon" href="/images/icon.png" type="image/x-icon")
  link(rel="stylesheet" href="/stylesheets/style.css")
  link(rel="stylesheet" href="/stylesheets/foundation.min.css")
  link(rel="stylesheet" href="/stylesheets/foundation-icons.min.css")
  link(href="/stylesheets/foundation-icons.woff")
  
  script(src="/javascripts/jquery.min.js")
  script(src="/javascripts/foundation.min.js")
  script(src="/javascripts/modernizr.js")
  
  body
    div(class="row")
    div(class="large-12 columns")
    
      div(class="large-2 columns c-menu-div" )
        ul(class="side-nav")
          li 
            h6(style="color:darkgrey;")
              i.fi-list-bullet(style="font-size:18px;font-style:normal;")   Menu List
          li
            a(href="#") 
              i.fi-home(style="font-size:18px;")  Home
          li
            a(href="#") 
              i.fi-foundation  Account
          li
            a(href="#") 
              i.fi-torso  Leads
          li
            a(href="#") 
              i.fi-torsos-all  Contact
          li
            a(href="#") 
              i.fi-filter  Opportunity
          li
            a(href="#") 
              i.fi-page-doc  Contract
          li
            a(href="#") 
              i.fi-comments  Cmpaign
          li
            hr
          li
            a(href="#") 
              i.fi-page-multiple  Campaign
          li
            a(href="#") 
              i.fi-page-filled  Campaign Member
          li
            a(href="#") 
              i.fi-address-book  Visit plant 
          li 
            a(href="#") 
              i.fi-book-bookmark  Visit Record 
          li
            a(href="#") 
              i.fi-volume  Account Meeting 
          li  
            hr
          li
            a(href="#") 
              i.fi-record  Seeting
          li
            a(href="#") 
              i.fi-power  Logout 
          li
            a(href="#") 
              i.fi-compass  About 
          li  
            a(href="#") 
              i.fi-book  Help


      div(class="large-10 columns")
        div(class="large-12 columns c-div-border" )
          nav(class="top-bar" data-topbar style="background:none;color:black")
            ul(class="title-area" style="background:none;color:black")
              li(class="name" )
                h1 WebSiteName
              li(class="toggle-topbar menu-icon" )
                a(href="#" style="background:none;color:black;")  Menu
            section(class="top-bar-section")
              ul(class="left")
                li(style="background:none;")
                  a(href="#" style="background:none;color:black")  Home
                li(style="background:none;")
                  a(href="#" style="background:none;color:black")  Page 1
              ul(class="right")
                li(style="background:none;")
                  a(href="#" style="background:none;color:black")  Sign Up
                li(style="background:none;")
                  a(href="#" style="background:none;color:black")  Login
        hr

        div(class="large-12 columns c-div-border" style="padding:0px;")
          block content


    div(class="large-12 columns")
        div(class="flex-container" style="border-top:1px solid #efefef;")
          p(class="text-center" style="margin-top:5px;") CRM DEMO BY NODE + MYSQL + JADE

