html
  head
  title= title
  meta(charset='utf-8')
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="stylesheet" href="https://cdn.staticfile.net/foundation/5.5.3/css/foundation.min.css")
  script(src="https://cdn.staticfile.net/jquery/2.1.1/jquery.min.js")
  script(src="https://cdn.staticfile.net/foundation/5.5.3/js/foundation.min.js")
  script(src="https://cdn.staticfile.net/foundation/5.5.3/js/vendor/modernizr.js")
  
  body
    div(class="row")
    div(class="large-12 columns")
      div(class="large-2 columns" style="background-color:grey;")
        ul(class="side-nav")
          li(class="active")
            a(href="#") Home
          li
            a(href="#") HTMl1
          li
            a(href="#") HTMl1
          li
            a(href="#") HTMl1
          li
            a(href="#") HTMl1
          li
            a(href="#") HTMl1
          li
            a(href="#") HTMl1
          li
            a(href="#") HTMl1
          li
            a(href="#") HTMl1
      div(class="large-10 columns" style="background-color:pink;")
        div(class="large-12 columns" style="background-color:blue;")
          block header
        div(class="large-12 columns" style="background-color:green;")
          block content
